.messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.verifyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-direction: column;
}