@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background1.png");
  background-size: cover;
  background-position: center;
  color: black;
}

.special:hover {
  cursor: pointer;
  background-color: #a7c5d6;
}

/* .img-container {
  overflow: hidden;
} */

/* .img-container img {
  width: 450px;
  transition: transform 0.3s;
} */

.img-container img:hover {
  height: 450px;
  width: 550px;
}